*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html, body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
  background-color: #edf0f3;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  padding: 1em 3em;
  grid-area: header;
  background-color: #f8f8f8;
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 1.5rem;
  --icon-size: calc(1.5rem + 0.2em);
  row-gap: 2em;
}
header .search {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto minmax(150px, 1fr);
  align-items: center;
  gap: 1em;
}
header .search .search-icon {
  fill: #444;
  cursor: pointer;
  width: var(--icon-size);
  height: var(--icon-size);
}
header .search .search-icon:hover {
  fill: #000;
}
header .search input[type=search] {
  font: inherit;
  padding: 0.2em 1em;
  border-radius: 20px;
  background-color: #f1f1f1;
  outline: none;
  border: 2px solid black;
}
header .search input[type=search]:focus {
  background-color: #e1e1e1;
  box-shadow: 2px 2px 5px gray;
}
header .search input[type=search]:hover {
  background-color: #e1e1e1;
}
header .profile {
  display: flex;
  font-weight: bold;
  justify-content: end;
  align-items: center;
  gap: 1em;
}
header .profile .notifications {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: #444;
  cursor: pointer;
}
header .profile .notifications:hover {
  fill: #000;
}
header .profile-icon {
  width: calc(0.5em + var(--icon-size));
  height: calc(0.5em + var(--icon-size));
}
header .profile-icon img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .profile-icon img:hover {
  cursor: pointer;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
}
header .welcome {
  display: grid;
  gap: 0.5em;
  grid-template-columns: auto 1fr;
  align-items: center;
}
header .welcome .profile-icon {
  width: calc(2.5em + var(--icon-size));
  height: calc(2.5em + var(--icon-size));
}
header .welcome .greetings {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-weight: bold;
}
header .welcome .greetings p:first-child {
  font-size: 1rem;
}
header .welcome .greetings p:last-child {
  font-size: 1.8rem;
}
header .user-actions {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1em;
}
header .user-actions button.action {
  display: flex;
  gap: 0.4em;
  align-items: center;
  background-color: #149fd6;
  color: #f4f4f4;
  padding: 0.5em 0.6em;
  font: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  transition: background-color 50ms, color 50ms;
}
header .user-actions button.action:active {
  transform: scale(0.98);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
header .user-actions button.action svg {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: #f4f4ff;
}
header .user-actions button.action:hover {
  background-color: rgb(15.641025641, 124.3461538462, 167.358974359);
  color: white;
}
header .user-actions button.action:hover svg {
  fill: white;
}

aside {
  --nav-color: #f4f4f4;
  --icon-gap: 0.5em;
  grid-area: sidebar;
  background-color: #149fd6;
  color: var(--nav-color);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
aside svg {
  fill: var(--nav-color);
}
aside .title {
  font-size: 1.5rem;
  display: flex;
  gap: var(--icon-gap);
  align-items: center;
}
aside .title svg {
  width: 2.5em;
  height: 2.5em;
  flex: 1;
  fill: white;
}
aside .title .title-text {
  color: white;
  flex: 4;
}
aside ul li {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  gap: var(--icon-gap);
  align-items: center;
  padding: 0.5em 0;
  border-radius: 10px;
  transition: all 50ms;
}
aside ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
aside ul li:hover svg {
  fill: white;
}
aside ul li > .nav-icon {
  flex: 1;
  height: 1.8rem;
}
aside ul li > .nav-text {
  flex: 4;
}
aside nav {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
aside ul {
  display: flex;
  flex-direction: column;
}

main {
  line-height: 1.3;
  padding: 2em;
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1em;
  grid-template-areas: "projects announcements" "projects trending";
}
main .projects {
  grid-area: projects;
}
main .projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1em;
}
main .projects-container .project-item {
  padding: 2em;
  background-color: #fff;
  border-radius: 10px;
  border-left: 0.6em solid #e2c524;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "description-header description-header" "description-body description-body" ". actions";
}
main .projects-container .project-title {
  grid-area: description-header;
  font-size: 1.5rem;
}
main .projects-container .project-description {
  grid-area: description-body;
  font-size: 1.2rem;
  color: #515151;
}
main .projects-container .project-actions {
  grid-area: actions;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1em;
}
main .projects-container .project-actions .action-icon {
  fill: #515151;
  width: 2rem;
  height: 2rem;
  fill: #444;
  cursor: pointer;
}
main .projects-container .project-actions .action-icon:hover {
  fill: #000;
}
main section .title {
  margin-bottom: 1em;
}
main .announcements {
  grid-area: announcements;
}
main .announcements-container {
  background-color: white;
  border-radius: 10px;
  padding: 2em;
}
main .announcements-list li.announcement-item {
  padding: 1em 0;
}
main .announcements-list li.announcement-item + li.announcement-item {
  border-top: 1px solid #bbb;
}
main .announcements-list .announcement-title {
  margin-bottom: 0.4em;
}
